@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,200&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

section {
    display: flex;
    justify-content: space-around;
}

ul {
    background-color: #001D2D;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 2rem;
    margin: 0;
}

a{
    text-decoration: none;
    margin-right: 10px;
    color: white;
}

.nav {
    position: relative;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}

.navOne {
    padding-top: 10px;
    padding-left: 5px;
    top: 0px;
    background-color: #1CD1B0;
    margin: 0px;
    height: 30px;
    width: 100%;
}
.navTwoParent{
    display: flex;
    background-color: #00669F;
}

.navTwo{
    background-color: #00669F;
    margin: 0px;
    padding-top: 20px;
    padding-left: 20px;
    height: 60px;
    width: 100%;
}

.card{
    position: relative;
    width: 350px;
    height: 530px;
    top: 100px;
    background-color: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.heartIcon{
    position: absolute;
    left: 10px;
    top: 10px;
}

.circle{
    position: fixed;
    top: 80%;
    right: 2%;
    width: 50px;
    height: 50px;
    background-color: #00669F;
    border-radius: 50%;
    z-index: 1;
    text-align: center;
    color: white;
    font-size: 40px;
}

.profileBack{
    width: 100%;
}

.profileBackDiff{
    width: 100%;
    border-top-left-radius: 5% ;
    border-top-right-radius: 5% ;
}

.profileImageDiff{
    position: absolute;
    left: 110px;
    top: 150px;
    border-radius: 50%;
    height: 120px;
    width: 120px;
}

.profileImage{
    position: absolute;
    left: 110px;
    top: 150px;
    border-radius: 50%;
}

.contentCard{
    box-sizing: border-box;
    margin-top: 60px;
    text-align: center;
    padding: 0px 30px;
}

.contentCard p {
    text-align: left;
}


.buttonContent{
    position: absolute;
    left: 100px;
    bottom: 10px;
    box-sizing: border-box;
    padding-top: 15px;
    background-color: #00669F;
    color: white;
    width: 130px;
    height: 50px;
}

.buttonHarley{
    margin-top: 0px;
}

.divFooter{
    height: 200px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    box-sizing: border-box;
    color: white;
    width: 100%;
    background-color: #00669F;
    height: 50px;
    padding-top: 2px;
    padding-left: 10px;
    text-align: center;
}

.imageFooter {
    height: 50px;
    width: 150px;
}

@media only screen and (max-width: 768px) {
    section {
        flex-wrap: wrap;
    }

    .card {
        margin-bottom: 50px;
    }

    .circle {
        position: fixed;
        top: 87%;
        right: 2%;
    }

    footer {
        text-align: center;
    }
}

@media only screen and (max-width: 481px) {
    section {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .card {
        margin-bottom: 50px;
    }

    .circle {
        position: fixed;
        top: 87%;
        right: 2%;
    }

    footer {
        text-align: center;
        font-size: 10px;
    }
}

/*PAGINA REGISTRO*/

input, select{
    height: 50px;
    margin-bottom: 1rem;
    border: 1.53407px solid #000000;
}

button {
    height: 3rem;
    width: 100%;
    border-radius: 30px;
}

.registySection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #333333;
    font-weight: 700;
}

.registryTitle{
    font-weight: bolder;
    font-size: 3rem;
    position: relative;
    right: 17%;
}

form {
    font-family: 'Karla', sans-serif;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.buttonsRegistry{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.loginParraf{
    text-align: center;
}

.loginWord{
    color: blue;
}

.resetButton {
    background-color: #888888;
    color: white;
    border: 0;
}

.submitButton{
    background-color: #1CD1B0;
    border: 0;
}

textarea{
    margin-bottom: 20px;
    border: 1.53407px solid #000000;
}

.navOneParent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1CD1B0;
    color: inherit;
}

/*Añadir super héroe*/

.sectionAdd {
    position: relative;
}

.container {
    position: absolute;
    top: 40%;
    background-color: #00669F;
    width: 60%;
    color: white;
    border-radius: 2rem;
    margin-top: 10px;
}

.formAdd{
    width: 100%;
}

.childAdd {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.columns{
    display: flex;
    flex-direction: column;
    width:40%;
}

.inputsAdd{
    border: 1.53407px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 1rem;
}

.groups{
    display: flex;
    flex-direction: column;
}

.inputOption{
    height: unset;
    margin-bottom: 0;
}

.fileInput{
    border: 0;
    height: 20px;
}

.addButton{
    position: relative;
    left: 35%;
    background-color: #1CD1B0;
    border: 0;
    border-radius: 1.5rem;
    width: 30%;
    font-weight: bold;
    font-size: 2rem;
    margin: 20px 0px;
}

.titlesAdd{
    font-size: 2rem;
    text-align: center;
}

.subtitleAdd{
    font-size: 1rem;
    text-align: center;
    font-weight: 100;
}
